#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #16161d;
  color: white;
}

.bodyContent {
  max-width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px solid #dee2e6;
}

header h3 {
  align-content: center;
}

footer {
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  position: absolute;
  justify-content: center;
  width: 100%;
}

.footerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.footerWrapper span {
  padding: 20px;
}

.nav {
  border-bottom: none !important;
  padding: 20px;
}

.nav-name {
  margin-right: auto;
  margin-left: 20px;

}

h1 {
  margin: 20px 0 !important;
}

.content {
  border: 0.4em solid rgba(23, 190, 187, 1);
  margin: 1em;
  padding: 2em;
  width: 35em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 350ms ease;
  overflow: hidden;
  position: relative;
  height: 15em;
}

.content:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.contentImg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  transition: all 350ms ease;
}

.contentImg img {
  max-width: -webkit-fill-available;
}

.contentImg:hover {
  opacity: 1;
}

.contentInfo {
  position: relative;
  width: 30%;
  background-color: rgba(23, 190, 187, 1);
  margin-left: -2em;
  margin-top: -2em;
  padding: 0.5em;
  width: fit-content;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fullWidth {
  min-width: 80%;
}

.form-group {
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
}

span>a>svg {
  max-width: 50px;
  max-height: 50px;
  align-items: center;
  color: white;
}