#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #16161d;
  color: white;
}

.bodyContent {
  max-width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px solid #dee2e6;
}

header span {
  align-content: center;
}

footer {
  bottom: 0;
  position: absolute;
}

.nav {
  border-bottom: none !important;
}